.row3 {
	background-color: #dbdfe2 !important;
}

#abbc3-successbox {
	font-family: Verdana, Arial, sans-serif;
	font-size: 13px;
	text-align: left;
	background: #191919 url("../images/accepted.png") no-repeat 8px 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE8 */
	border-radius: 10px;
	box-shadow: 2px 2px 10px #000000;
	text-shadow: 1px 1px 3px #000000;
	color: #ffffff;
	opacity: 0.9;
	position: fixed;
	z-index: 50;
	top: 0;
	right: 20px;
	box-sizing: border-box;
	width: 260px;
	margin: 10px 0;
	padding: 10px 10px 10px 60px;
}

#abbc3_icons_type {
	vertical-align: top;
}

.abbc3-bar {
	background: #f9fbfd;
	background: -moz-linear-gradient(top, #f9fbfd 0%, #d9dde2 100%);
	background: -webkit-linear-gradient(top, #f9fbfd 0%, #d9dde2 100%);
	background: linear-gradient(to bottom, #f9fbfd 0%, #d9dde2 100%);
	border: 1px solid #b4bac0;
	display: inline-flex;
	justify-content: space-around;
	align-items: center;
	height: 30px;
	margin: 0 10px;
}

.abbc3-bar span {
	background-size: 20px;
	width: 20px;
	height: 20px;
	margin: 0 2px;
}

.hidden {
	display: none;
}
