language: php

matrix:
  include:
    - php: 5.3.3
      env: DB=mysqli
    - php: 5.3
      env: DB=mysqli # MyISAM
    - php: 5.4
      env: DB=mysqli
    - php: 5.4
      env: DB=mysql
    - php: 5.4
      env: DB=mariadb
    - php: 5.4
      env: DB=postgres
    - php: 5.4
      env: DB=sqlite3
    - php: 5.5
      env: DB=mysqli
    - php: 5.6
      env: DB=mysqli
    - php: hhvm
      env: DB=mysqli
  allow_failures:
    - php: hhvm
  fast_finish: true

env:
  global:
    - EXTNAME="vse/abbc3"
    - SNIFF="1"        # Should we run code sniffer on your code?
    - IMAGE_ICC="1"    # Should we run icc profile sniffer on your images?
    - EPV="1"          # Should we run EPV (Extension Pre Validator) on your code?
    - COVERAGE="1"     # Should we send code coverage?
    - PHPBB_BRANCH="3.1.x"

branches:
  only:
    - master
    - develop
    - /^develop-.*$/

install:
  - composer install --dev --no-interaction --prefer-source
  - travis/prepare-phpbb.sh $EXTNAME $PHPBB_BRANCH
  - cd ../../phpBB3
  - travis/prepare-extension.sh $EXTNAME $PHPBB_BRANCH
  - travis/setup-phpbb.sh $DB $TRAVIS_PHP_VERSION

before_script:
  - travis/setup-database.sh $DB $TRAVIS_PHP_VERSION

script:
  - sh -c "if [ '$SNIFF' != '0' ]; then travis/ext-sniff.sh $DB $TRAVIS_PHP_VERSION $EXTNAME; fi"
  - sh -c "if [ '$IMAGE_ICC' != '0' ]; then travis/check-image-icc-profiles.sh $DB $TRAVIS_PHP_VERSION; fi"
  - ../VSEphpbb/abbc3/travis/run-tests.sh $DB $TRAVIS_PHP_VERSION $EXTNAME
  - sh -c "if [ '$EPV' != '0' ]; then ../VSEphpbb/abbc3/travis/run-epv.sh $DB $TRAVIS_PHP_VERSION $EXTNAME; fi"

after_script:
  - sh -c "if [ '$COVERAGE' != '0' ]; then ../VSEphpbb/abbc3/travis/send-coverage.sh $DB $TRAVIS_PHP_VERSION; fi"
