
<!-- BEGIN thumb --><img src="{URL}" alt="{L_IMAGE}" width="{WIDTH}" class="hoverbox resize_me" /><!-- END thumb -->
<!-- BEGIN thumb_aligned --><div class="abbc3-{ALIGN_TYPE}"><img src="{URL}" alt="{L_IMAGE}" width="{WIDTH}" class="hoverbox resize_me" /></div><!-- END thumb_aligned -->
<!-- BEGIN thumb_float --><img src="{URL}" alt="{L_IMAGE}" width="{WIDTH}" class="hoverbox resize_me" style="float : {FLOAT};" /><!-- END thumb_float -->

<!-- BEGIN img_aligned --><div class="abbc3-{ALIGN_TYPE}"><img src="{URL}" alt="{L_IMAGE}" class="resize_me" /></div><!-- END img_aligned -->
<!-- BEGIN img_float --><img src="{URL}" alt="{L_IMAGE}" class="resize_me" style="float : {FLOAT}; padding : 0 10px 10px 10px;"/><!-- END img_float -->
<!-- BEGIN img_float_bar --><div style="float : {FLOAT}; padding : 0 10px 10px 10px;"><img src="{URL}" alt="{L_IMAGE}" class="resize_me"/></div><!-- END img_float_bar -->

<!-- BEGIN nfo --><table cellspacing="0" cellpadding="0" border="0" class="NFOTable"><tr><td class="codetitle">{NFO_TITLE} : </td></tr><tr><td class="codecontent nfo">{NFO_TEXT}</td></tr></table><!-- END nfo -->

<!-- BEGIN search -->{SEARCH_SITE} {SEARCH_TEXT} : <a href="{URL}" onclick="window.open(this.href);return false;">{SEARCH_STRING}</a><!-- END search -->

<!-- BEGIN ed2k_file --><img src="{ED2K_ICON}" class="ed2k_img" alt="" title="" />&nbsp;<a href="{ED2K_URL}" class="postlink">{ED2K_NAME}</a>&nbsp;[{ED2K_SIZE}]&nbsp;<a href="http://ed2k.shortypower.org/?hash={ED2K_HASH}" onclick="window.open(this.href);return false;"><img src="{ED2K_STAT}" class="ed2k_img" alt="" title="" /></a><!-- END ed2k_file -->

<!-- BEGIN moderator --><table class="ModTable" width="100%" cellspacing="5" cellpadding="0" border="0"><tr><td class="exclamation" rowspan="2">&nbsp;!&nbsp;</td><td class="rowuser">{MOD_USER} {L_WROTE}:</td></tr><tr><td class="rowtext">{MOD_TEXT}</td></tr></table><!-- END moderator -->

<!-- BEGIN offtopic --><div class="OffTopic"><div class="OffTopicTitle">{L_OFFTOPIC} :</div><div class="OffTopicText">{OFFTOPIC_TEXT}</div></div><!-- END offtopic -->

<!-- BEGIN spoiler --><div class="spoilwrapper"><div class="spoiltitle"><span class="btnspoil" onclick="javascript:abbc3_spoiler( this, {LA_SPOILER_HIDE}, {LA_SPOILER_SHOW} ); return false;"><a href="#" onclick="return false;">{SPOILER_SHOW}</a></span></div><div class="spoilcontent"><div style="display: none; padding: 5px;">{SPOILER_TEXT}</div></div></div><!-- END spoiler -->

<!-- BEGIN unhidden --><div class="hiddenbox"><span class="hiddentitle">{HIDDEN_OFF}:</span><div>{UNHIDDEN_TEXT}</div></div><!-- END unhidden -->
<!-- BEGIN hidden --><div class="hiddenbox"><span class="hiddentitle">{HIDDEN_ON}:</span><div class="hiddentext">{HIDDEN_TEXT}</div></div><!-- END hidden -->

<!-- BEGIN bbvideo --><div class="bbvideo" style="width: {BBVIDEO_WIDTH}px;"><div class="bbvideotitle">{BBVIDEO_IMAGE}{BBVIDEO_LINK}</div><div class="bbvideocontent">{BBVIDEO_VIDEO}</div></div><!-- END bbvideo -->

<!-- BEGIN anchor_link -->&nbsp;<a id="{ANCHOR_ID}" href="#{ANCHOR_HREF}" class="anchor" title="{L_GOTO} {ANCHOR_HREF}" {ANCHOR_EXTRA}>{ANCHOR_TEXT}</a>&nbsp;<!-- END anchor_link -->
<!-- BEGIN anchor_element -->&nbsp;<span id="{ANCHOR_ID}" class="anchor" title="The anchor {ANCHOR_ID}">{ANCHOR_TEXT}</span>&nbsp;<!-- END anchor_element -->

<!-- BEGIN scrippet --><div id="scrippet"><div class="scrippet-shadow"><div class="inner-shadow">{SCRIPPET_TEXT}<br /></div></div></div><!-- END scrippet -->

<!-- BEGIN decoration --><span class="{CLASS}" style="{STYLE}">{TEXT}</span><!-- END decoration -->
