
<!-- IF S_ABBC3_IN_WIZARD and S_ABBC3_WIZARD_MODE eq '1' -->
<!-- INCLUDE simple_header.html -->

<!-- MOD : MSSTI ABBC3 wizards (v{S_ABBC3_VERSION}) - START //-->

<script type="text/javascript" src="{T_SUPER_TEMPLATE_PATH}/editor.js"></script>
<!-- ENDIF -->

<!-- IF (not S_ABBC3_IN_WIZARD and S_ABBC3_WIZARD_MODE eq '2') or (S_ABBC3_IN_WIZARD and S_ABBC3_WIZARD_MODE eq '1') -->
<script type="text/javascript">
// <![CDATA[
<!-- INCLUDE ./../../abbcode/posting_abbcode_wizards.js -->
// ]]>
</script>
<!-- ENDIF -->

<!-- IF S_ABBC3_IN_WIZARD -->
<form id="abbcode_wizards" action="{S_ABBC3_WIZARD_PAGE}" method="post" enctype="multipart/form-data">

	<table class="tablebg" width="100%" border="0" cellspacing="1" cellpadding="0">
		<!-- IF ERROR -->
		<tr>
			<td class="gensmall" colspan="2" align="center">
				<span class="error">{ERROR}</span>
			</td>
		</tr>
		<!-- ENDIF -->
	<!-- IF S_WIZARD_TABLE -->

			<tr>
				<th colspan="2">
					{L_ABBC3_TABLE_MOVER}
				</th>
			</tr>
			<!-- IF ABBC3_EXAMPLE -->
			<tr>
				<td class="row1"><label>{L_ABBC3_EXAMPLE}:</label></td>
				<td class="row1">
					{L_ABBC3_TABLE_TIP}
				</td>
			</tr>
			<!-- ENDIF -->
			<tr>
				<td class="row2"><label>{L_ABBC3_TABLE_STYLE}:</label></td>
				<td class="row2">
					<input type="text"   id="promptbox1" name="promptbox1" value="" class="promptbox" size="50" />
					<br />
					<span>{L_ABBC3_TABLE_EXAMPLE}</span><br />
				</td>
			</tr>
			<tr>
				<td class="row2"><label>{L_ABBC3_ROW_NUMBER}:</label></td>
				<td class="row2">
					<input type="text"   id="promptbox2" name="promptbox2" value="" class="promptbox" size="4" />
					<input type="hidden" id="errorbox2"  name="errorbox2"  value="{L_ABBC3_ROW_ERROR}" />
				</td>
			</tr>
			<tr>
				<td class="row2"><label>{L_ABBC3_ROW_STYLE}:</label></td>
				<td class="row2">
					<input type="text"   id="promptbox3" name="promptbox3" value="" class="promptbox" size="50" />
					<br />
					<span>{L_ABBC3_ROW_EXAMPLE}</span><br />
				</td>
			</tr>
			<tr>
				<td class="row2"><label>{L_ABBC3_CELL_NUMBER}:</label></td>
				<td class="row2">
					<input type="text"   id="promptbox4" name="promptbox4" value="" class="promptbox" size="4" />
					<input type="hidden" id="errorbox4"  name="errorbox4"  value="{L_ABBC3_CELL_ERROR}" />
				</td>
			</tr>
			<tr>
				<td class="row2"><label>{L_ABBC3_CELL_STYLE}:</label></td>
				<td class="row2">
					<input type="text"  id="promptbox5"  name="promptbox5" value="" class="promptbox" size="50" />
					<br />
					<span>{L_ABBC3_CELL_EXAMPLE}</span><br />
				</td>
			</tr>
			<tr>
				<td class="cat" colspan="2" align="center">
					<input type="button" id="{L_ABBC3_SUBMIT}" name="{L_ABBC3_SUBMIT}" value="{L_ABBC3_SUBMIT}" class="btnlite" onclick="win_accept('table')" /> &nbsp; 
					<input type="button" id="{L_CANCEL}" name="{L_CANCEL}" value="{L_CANCEL}" class="btnlite" onclick="win_close(false);" />
				</td>
			</tr>

	<!-- ELSEIF S_WIZARD_GRAD -->
			<tr>
				<th colspan="2">
					{L_ABBC3_GRAD_MOVER}
				</th>
			</tr>
			<tr>
				<td class="row1" align="center" colspan="2" nowrap="nowrap">
					<select id="clr1" name="clr1" onchange="gradient_preview();">
						<option value=""> x </option>
					</select>
					&nbsp;				
					<select id="clr2" name="clr2" onchange="gradient_preview();">
						<option value="" selected="selected"> x </option>
					</select>
					&nbsp;				
					<select id="clr3" name="clr3" onchange="gradient_preview();">
					<option value="" selected="selected"> x </option>
					</select>
					&nbsp;				
					<select id="clr4" name="clr4" onchange="gradient_preview();">
						<option value="" selected="selected"> x </option>
					</select>
					&nbsp;
					<select id="clr5" name="clr5" onchange="gradient_preview();">
						<option value=""> x </option>
					</select>&nbsp;
					&nbsp;
					<select id="clr0" name="clr0" onchange="gradient_template();">
						<option value="80,5,43,36,91" selected="selected">{L_ABBC3_GRAD_COLORS}</option>
						<option value="25,0,0,0,118">1</option>
						<option value="14,12,9,0,0">2</option>
						<option value="6,8,15,20,0">3</option>
						<option value="1,27,26,2,0">4</option>
						<option value="21,24,23,0,0">5</option>
						<option value="20,15,8,14,20">6</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="row2" align="center" colspan="2">
					<span id="grad_preview" style="font-size: 20px;">&nbsp;</span>
				</td>
			</tr>
			<tr>
				<td class="cat" colspan="2" align="center">
					<input type="button" id="{L_ABBC3_SUBMIT}" name="{L_ABBC3_SUBMIT}" value="{L_ABBC3_SUBMIT}" class="btnlite" onclick="gradient_preview(true)" />&nbsp;
					<input type="button" id="{L_CANCEL}" name="{L_CANCEL}" value="{L_CANCEL}" class="btnlite" onclick="win_close(false);" />
				</td>
			</tr>

	<!-- ELSEIF S_WIZARD_GENERAL -->

			<tr>
				<th colspan="2">
					<h2>{L_ABBC3_LINK} {ABBC3_TAG}</h2>
				</th>
			</tr>

			<tr>
				<td colspan="2">
					<h4>{ABBC3_MOVER}</h4>
				</td>
			</tr>

			<!-- IF S_BBVIDEO_OPTIONS -->
			<tr>
				<td class="row1"><label>{L_ABBC3_BBVIDEO_VIDEO}</label></td>
				<td class="row1">
					<select id="abbc3_video" name="abbc3_video" onchange="if(this.options[this.selectedIndex].value != -1){this.form.posttext.value=this.form.abbc3_video.options[this.form.abbc3_video.selectedIndex].value;}">
						{S_BBVIDEO_OPTIONS}
					</select>
					<!-- IF L_BBVIDEO_ERROR --><div class="error">{L_BBVIDEO_ERROR}</div><!-- ENDIF -->
				</td>
			</tr>				
			<!-- ENDIF -->

			<!-- IF ABBC3_EXAMPLE -->
			<tr>
				<td class="row1"><label>{L_ABBC3_EXAMPLE}</label></td>
				<td class="row1">
					<input type="text" id="posttext" name="posttext" readonly="readonly" value="{ABBC3_EXAMPLE}" size="50" class="inputbox autowidth" />
				</td>
			</tr>
			<!-- ENDIF -->

			<!-- IF ABBC3_NOTE -->
			<tr>
				<td class="row1"><label>{L_ABBC3_NOTE}:</label></td>
				<td class="row1">
					{ABBC3_NOTE}
				</td>
			</tr>
			<!-- ENDIF -->

			<tr>
				<td class="row2"><label>{L_ABBC3_LINK} {ABBC3_TAG}:</label></td>
				<td class="row2">
					<input type="text"   id="promptbox1" name="promptbox1" value="" class="promptbox" size="50" />
					<input type="hidden" id="errorbox1"  name="errorbox1"  value="{L_ABBC3_NOLINK}{ABBC3_TAG}"  />
				</td>
			</tr>

			<!-- IF ABBC3_DESC -->
			<tr>
				<td class="row2"><label>{L_ABBC3_DESC} {ABBC3_TAG}:</label></td>
				<td class="row2">
					<input type="text"   id="promptbox2" name="promptbox2" value="" class="promptbox" size="50" />
					<input type="hidden" id="errorbox2"  name="errorbox2"  value="{L_ABBC3_NODESC}{ABBC3_TAG}"  />
				</td>
			</tr>
			<!-- ENDIF -->

			<!-- IF S_ABBC3_ALIGN -->
			<tr>
				<td class="row2"><label>{L_ABBC3_ALIGN_MODE}:</label></td>
				<td class="row2">
					{S_ABBC3_ALIGN}
				</td>
			</tr>
			<!-- ENDIF -->

			<!-- IF ABBC3_W_H -->
			<tr>
				<td class="row2"><label>{L_ABBC3_WIDTH}:</label></td>
				<td class="row2">
					<input type="text"   id="promptbox3" name="promptbox3" value="{ABBC3_WIDTH}" class="promptbox" size="4"  />
					<input type="hidden" id="errorbox3"  name="errorbox3"  value="{L_ABBC3_NOWIDTH}{ABBC3_TAG}" />
				</td>
			</tr>
			<tr>
				<td class="row2"><label>{L_ABBC3_HEIGHT}:</label></td>
				<td class="row2">
					<input type="text"   id="promptbox4" name="promptbox4" value="{ABBC3_HEIGHT}" class="promptbox" size="4"  />
					<input type="hidden" id="errorbox4"  name="errorbox3"  value="{ABBC3_NOHEIGHT}{ABBC3_TAG}"  />
				</td>
			</tr>
			<!-- ENDIF -->

			<tr>
				<td class="cat" colspan="2" align="center">
					<input type="button" id="{L_ABBC3_SUBMIT}" name="{L_ABBC3_SUBMIT}" value="{L_ABBC3_SUBMIT}" class="btnlite" onclick="win_accept('{ABBC3_OPEN}')" /> &nbsp; 
					<input type="button" id="{L_CANCEL}" name="{L_CANCEL}" value="{L_CANCEL}" class="btnlite" onclick="win_close(false);" />
				</td>
			</tr>

	<!-- ENDIF -->

		</table>
	</form>
<br />
<!-- ENDIF -->

<!-- IF S_ABBC3_IN_WIZARD and S_ABBC3_WIZARD_MODE eq '1' -->

</div>

<div id="wrapfooter">
	{L_ABBC3_HELP_ABOUT}
</div>
<!-- MOD : MSSTI ABBC3 (v{S_ABBC3_VERSION}) - END //-->
</body>
</html>
<!-- ENDIF -->