<form>
	<div class="panel">
		<div class="inner">
			<fieldset>
				<dl>
					<dt><label for="bbvideo_wizard_sites">{{ lang('ABBC3_BBVIDEO_SITES') ~ lang('COLON') }}</label></dt>
					<dd>
						<select id="bbvideo_wizard_sites" name="bbvideo_wizard_sites">
							{% for site, example in ABBC3_BBVIDEO_SITES %}
								<option value="{{ example }}"{% if site == ABBC3_BBVIDEO_DEFAULT %} selected="selected"{% endif %}>{{ site }}</option>
							{% endfor %}
						</select>
					</dd>
				</dl>
				{% if ABBC3_BBVIDEO_LINK_EX %}
				<dl>
					<dt><label for="bbvideo_wizard_example">{{ lang('ABBC3_BBCODE_WIZ_EXAMPLE') ~ lang('COLON') }}</label></dt>
					<dd>
						<input type="text" id="bbvideo_wizard_example" name="bbvideo_wizard_example" readonly="readonly" value="{{ ABBC3_BBVIDEO_LINK_EX }}" size="45" class="inputbox disabled" />
					</dd>
				</dl>
				{% endif %}
				<hr />
				<dl>
					<dt><label for="bbvideo_wizard_link">{{ lang('ABBC3_BBVIDEO_LINK') ~ lang('COLON') }}</label></dt>
					<dd>
						<input type="text" id="bbvideo_wizard_link" name="bbvideo_wizard_link" value="" class="inputbox" size="45" />
					</dd>
				</dl>
			</fieldset>
		</div>
	</div>
	<div class="panel" style="margin-bottom:0">
		<div class="inner">
			<fieldset class="submit-buttons">
				<input type="button" name="bbcode_wizard_submit" id="bbcode_wizard_submit" value="{{ lang('ABBC3_BBCODE_WIZ_SUBMIT') }}" class="button1 button button-form" data-bbcode="bbvideo" />&nbsp;
				<input type="button" name="bbcode_wizard_cancel" id="bbcode_wizard_cancel" value="{{ lang('CANCEL') }}" class="button2 button button-form" />
			</fieldset>
		</div>
	</div>
</form>
