<!-- INCLUDE overall_header.html -->
<!-- // MOD : MSSTI ABBC3 (v3.0.6) - START -->

<a name="ABBC3Help"></a>

<div id="pagecontent">

<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th <!-- IF S_BBCODE_ROW_COUNT gt '1' -->colspan="2"<!-- ENDIF -->><span style="float: right;">{L_ABBC3_HELP_ABOUT}</span><h2>{L_ABBC3_HELP_TITLE}</h2></th>
	</tr>
	<tr>
		<td class="row2" width="50%">
		<!-- BEGIN bbc_row -->
			<!-- IF bbc_row.ABBC3_HELP_WRITE -->
		<!-- IF bbc_row.S_ROW_COUNT == S_BBCODE_ROW_COUNT -->
		</td>
		<td class="row2">
		<!-- ENDIF -->
				<span class="gen"><a href="#bbcode{bbc_row.S_ROW_COUNT}">{bbc_row.ABBC3_HELP_DESC}</a></span><br />
			<!-- ENDIF -->
		<!-- END bbc_row -->
		</td>
	</tr>
	<tr>
		<td class="cat" <!-- IF S_BBCODE_ROW_COUNT gt '1' -->colspan="2"<!-- ENDIF -->>&nbsp;</td>
	</tr>
</table>
	
<br style="clear: both;" />
	
<table class="tablebg" width="100%" cellspacing="1">
	<!-- BEGIN bbc_row -->
		<!-- IF bbc_row.ABBC3_HELP_WRITE -->
			<tr> 
				<td class="cat" align="center"><p class="gensmall" style="float:left;"><a href="#ABBC3Help" id="bbcode{bbc_row.S_ROW_COUNT}">{L_BACK_TO_TOP}</a></p><h4>{L_ABBC3_HELP_DESC} : <strong>{bbc_row.ABBC3_HELP_DESC}</strong></h4></td>
			</tr>
			<tr> 
				<td class="<!-- IF bbc_row.S_ROW_COUNT is odd -->row1<!-- ELSE -->row2<!-- ENDIF -->" valign="top">
					<div class="postbody"><b>&#187; {L_ABBC3_HELP_WRITE} :</b></div>
					<div class="postbody">{bbc_row.ABBC3_HELP_WRITE}</div><!-- IF bbc_row.ABBC3_HELP_NOTE -->{bbc_row.ABBC3_HELP_NOTE}<!-- ENDIF -->
					<br /><hr /><br />
					<!-- IF bbc_row.ABBC3_HELP_EXAMPLE -->
					<div class="postbody"><b>&#187; {L_ABBC3_EXAMPLE} :</b></div>
					<div class="postbody">{bbc_row.ABBC3_HELP_EXAMPLE}</div>
					<br /><hr /><br />
			<!-- ENDIF -->
			<!-- IF bbc_row.ABBC3_HELP_VIEW -->
					<div class="postbody"><b>&#187; {L_ABBC3_HELP_VIEW} :</b></div>
					<div class="postbody">{bbc_row.ABBC3_HELP_VIEW}</div>
			<!-- ENDIF -->
				</td>
			</tr>
			<tr>
				<td class="spacer" height="1"><img src="images/spacer.gif" alt="" width="1" height="1" /></td>
			</tr>
		<!-- ENDIF -->
	<!-- END bbc_row -->
</table>

</div>

<div class="wrapfooter">
	{L_ABBC3_HELP_ABOUT}
</div>
<!-- // MOD : MSSTI ABBC3 (v3.0.6) - END -->
<br clear="all" />

<!-- INCLUDE overall_footer.html -->