/* Hide native phpbb BBCode buttons */
#imgurAnchor, /* flat boots */
#format-buttons,
#core-bbcode-buttons,
#custom-bbcode-buttons {
	display: none;
}

/* ABBC3 BBCode buttons */


#abbc3_buttons select {
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #ced4da;
	color: #000000 !important;
	margin: 4px;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-left: 0.5rem;
	font-size: 0.875rem;
	border-radius: 0.2rem;
}

.abbc3_button {
	font-size: 11px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background: transparent no-repeat center;
	background-size: 20px;
	border: 1px solid transparent;
	display: inline-block;
	min-width: 24px;
	height: 24px;
	margin: 4px 0;
	padding: 0;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.abbc3_button:hover {
	background-color: #ffffff;
	border: 1px solid #b4bac0;
	cursor: pointer;
}



.rtl .abbc3_buttons_row {
	text-align: right;
}

/* tweaks for subsilver styles */
form td .abbc3_buttons_row {
	width: 98%;
}

/* tweaks for ACP bbcode editor */
#main #abbc3_buttons {
	margin-left: 96px;
}

#main #abbc3_buttons .abbc3_buttons_row {
	width: 95%;
}


