/* Hide native phpbb BBCode buttons */
#imgurAnchor, /* flat boots */
#format-buttons,
#core-bbcode-buttons,
#custom-bbcode-buttons {
	display: none;
}

/* ABBC3 BBCode buttons */
#abbc3_buttons {
	margin: 15px 0 2px;
}

#abbc3_buttons input {
	vertical-align: middle;
}

#abbc3_buttons select {
	vertical-align: middle;
	background-color: #ffffff !important;
	border: 1px solid #b4bac0;
	color: #000000 !important;
	height: 22px;
	margin: 4px;
	padding: 0;
}

.abbc3_button {
	font-size: 11px;
	background: transparent no-repeat center;
	border: 1px solid transparent;
	min-width: 22px;
	height: 22px;
	margin: 4px 0;
	padding: 0;
}

.abbc3_button:hover {
	background-color: #ffffdf;
	border: 1px solid #bc2a4d;
	cursor: pointer;
}

.abbc3_buttons_row {
	background: transparent url("./images/abbc3_bg.gif");
	border: 1px solid #b4bac0;
	display: block;
	width: 80%;
	min-height: 30px;
	margin: 0 !important;
	padding: 0 2px;
}

/* tweaks for subsilver styles */
form td .abbc3_buttons_row {
	width: 98%;
}

/* tweaks for ACP bbcode editor */
#main #abbc3_buttons {
	margin-left: 96px;
}

#main #abbc3_buttons .abbc3_buttons_row {
	width: 95%;
}
