/* superscript and subscript */
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}

/* pre-formatted text */
.abbc3_pre {
	display: block;
	font-family: monospace;
	white-space: pre;
}

/* strike through text */
.abbc3_strike { text-decoration: line-through }

/* Hidden block  */
.hidebox {
	position: relative;
	margin: 5px 0;
	font-weight: normal;
	padding: 39px 19px 14px;
	background-color: #c5e3bf;
	border: 1px solid #72B173;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.hidebox_title {
	position: absolute;
	top: -1px;
	left: -1px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #2f4f2f;
	padding: 5px 12px;
	border: 1px solid #72B173;
	-moz-border-radius: 4px 0 4px 0;
	-webkit-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 4px 0;
}
.hidebox_hidden {
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #80001c;
}

/* Moderator BBCode */
.ModTable {
	background-color: #FFFFFF;
	border: 1px solid #000000;
	border-collapse: separate;
	border-spacing: 5px;
	padding: 0;
	width: 100%;
	color: #333333;
	overflow: hidden;
}
.ModTable .exclamation {
	background-color: #ff6060;
	font-weight: bold;
	font-family: "Times New Roman", Verdana;
	font-size: 4em;
	color: #ffffff;
	vertical-align: middle;
	text-align: center;
	width: 1%;
}
.ModTable .rowuser {
	border-bottom: 1px solid #000000;
	font-weight: bold;
}

/* Spoiler */
.spoilwrapper {
	margin: 5px 0;
	font-weight: normal;
	padding: 4px 10px;
	background-color: #fff;
	border: 1px solid #dbdbdb;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #333333;
}
.spoiltitle {
	margin: 0;
	padding: 0;
	width: 100%;
}
.spoilcontent {
	color: #333333;
	display: none;
	padding: 5px;
	border-top: 1px solid #ccc;
}
.spoilbtn {
	margin: 2px 5px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	display: block;
	cursor: pointer;
	color: #333;
}
.spoilbtn:hover { color: #d31141 }

/* NFO BBCode */
.nfo {
	color: #000000;
	font-weight: normal;
	line-height: normal;
	font-size: 10pt;
	font-family: Terminal, monospace;
	background-color: #ffffff;
	white-space: pre;
	padding: 5px;
}

/* Offtopic BBCode */
.offtopic {
	position: relative;
	margin: 5px 0;
	padding: 39px 19px 14px;
	background: #fff;
	border: 1px solid #ddd;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.offtopic_title {
	position: absolute;
	top: -1px;
	left: -1px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #9da0a4;
	background: #f5f5f5;
	padding: 5px 12px;
	border: 1px solid #ddd;
	-moz-border-radius: 4px 0 4px 0;
	-webkit-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 4px 0;
}
.offtopic_text {
	padding: 5px 10px;
	color: #333333;
}

/* Marquee BBCode */
.abbc3_marquee {
	margin: 10px 0;
	padding: 5px;
	display: -moz-inline-box; /* For FF<3 */
	-moz-box-orient: vertical; /* For FF<3 */
	display: inline-block; /* IE <8 needs this tripped back to display: inline; to make it work on block elements */
}

/* hide native phpbb BBCode buttons */
#format-buttons,
#core-bbcode-buttons,
#custom-bbcode-buttons { display: none }

/* abbc3 BBCode buttons */
#abbc3_buttons { margin: 15px 0 2px 0 }
#abbc3_buttons input,
#abbc3_buttons select { vertical-align: middle }
.abbc3_button {
	margin: 4px 0;
	min-width: 22px;
	width: auto !important;
	width: 22px; /* I'm here for IE6 */
	height: 22px;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid transparent;
	font-size: 11px;
}
.abbc3_button:hover {
	background-color: #ffffdf;
	border: 1px solid #bc2a4d;
	cursor: pointer;
}
.abbc3_select {
	margin: 4px;
	height: 22px;
	background-color: #fff;
	border: 1px solid #b4bac0;
}
.abbc3_buttons_row {
	margin: 0 !important;
	min-height: 30px;
	height: auto !important;
	height: 30px; /* I'm here for IE6 */
	width: 80%;
	padding: 0 2px;
	border: 1px solid #b4bac0;
	display: block;
	background: transparent url('./images/abbc3_bg.gif');
}
/* tweaks for subsilver styles */
form td .abbc3_buttons_row { width: 98% }
/* tweaks for ACP user signature */
#user_signature #abbc3_buttons { margin-left: 96px }
#user_signature #abbc3_buttons .abbc3_buttons_row { width: 95% }