/* Hide native phpbb BBCode buttons */
#imgurAnchor, /* flat boots */
#format-buttons,
#core-bbcode-buttons,
#custom-bbcode-buttons {
	display: none;
}

/* ABBC3 BBCode buttons */
#abbc3_buttons {
	margin: 15px 0 2px;
}

#abbc3_buttons input {
	vertical-align: middle;
}

#abbc3_buttons select {
	vertical-align: middle;
	background-color: #ffffff !important;
	border: 1px solid #b4bac0;
	color: #000000 !important;
	height: 22px;
	margin: 4px;
	padding: 0;
}

.abbc3_button {
	font-size: 11px;
	background: transparent no-repeat center;
	border: 1px solid transparent;
	min-width: 22px;
	height: 22px;
	margin: 4px 0;
	padding: 0;
}

.abbc3_button:hover {
	background-color: #ffffdf;
	border: 1px solid #bc2a4d;
	cursor: pointer;
}

.abbc3_buttons_row {
	background: transparent url("./images/abbc3_bg.gif");
	border: 1px solid #b4bac0;
	display: block;
	width: 80%;
	min-height: 30px;
	margin: 0 !important;
	padding: 0 2px;
}

/* tweaks for subsilver styles */
form td .abbc3_buttons_row {
	width: 98%;
}

/* tweaks for ACP bbcode editor */
#main #abbc3_buttons {
	margin-left: 96px;
}

#main #abbc3_buttons .abbc3_buttons_row {
	width: 95%;
}

/* BBCode wizard */
#bbcode_wizard {
	font-size: 0.9em;
	background: #ffffff;
	border: 5px solid #12a3eb;
	border-radius: 11px;
	box-shadow: 2px 2px 4px #555555;
	position: absolute;
	z-index: 500;
	right: 0;
	left: 0;
	display: none;
	width: 500px;
	margin: 0 auto;
	padding: 5px;
}

/* responsive design */
@media only screen and (max-width: 500px), only screen and (max-device-width: 500px) {
	#bbcode_wizard {
		width: 300px !important;
	}
}
