<!-- IF .bbcodes -->

<!-- INCLUDEJS @vse_abbc3/js/tablednd.js -->

<script>
// <![CDATA[

jQuery(document).ready(function() {
	var msg_timer;
	var msg_successBox = jQuery('<div class="successbox" style="display:none;"><img style="float:left; padding-right:8px;" src="{IMG_AJAX_IMAGE}" width="48" height="48" alt="" /><h3>{LA_INFORMATION}</h3><p>{LA_ABBC3_BBCODE_ORDERED}</p></div>').appendTo("body");
	
	// Re-style the sucessbox to look like a growl notification
	msg_successBox.css({
		"position": "fixed",
		"top": "0",
		"right": "20px",
		"background": "#191919",
		"-moz-border-radius": "10px",
		"-webkit-border-radius": "10px",
		"border-radius": "10px",
		"-moz-box-shadow": "2px 2px 10px #000000",
		"-webkit-box-shadow": "2px 2px 10px #000000",
		"box-shadow": "2px 2px 10px #000000",
		"opacity": "0.90",
		"filter": "alpha(opacity = 90)",
		"color": "#fff",
		"font-family": "Verdana, Arial, sans-serif",
		"font-size": "13px",
		"padding": "10px",
		"text-shadow": "1px 1px 3px #000",
		"text-align": "left",
		"width": "260px"
	});

	// get bbcode ids from the delete button, and create tr row IDs on the fly for use by tableDnD
	jQuery("#down > tbody").find("tr").each(function () {
    	var url = $(this).find("a").last().attr("href");
    	if (url) var id = url.split("bbcode=");
    	if (id) $(this).attr("id", "bbcode_" + id[1]);
	});

	// Remove the move buttons since we are using drag and drop now
// 	jQuery(".mover").on("click", function (e) {
// 		e.preventDefault();
// 	});

	// Init drag-drop
	jQuery("#down").tableDnD({
		onDragClass : "row3",
		onDrop : function(table, row) {

			// Fix row colors
// 			jQuery("tbody > tr", table).each(function(index) {
// 				fixColouring(this, index);
// 			});

			// Now send this change to the server so we can store it ^^
			jQuery.ajax({
				type    : "POST",
				url     : "{U_AJAX_REQUEST}&action=move&tablename=" + jQuery(table).attr("id"),
				data    : jQuery.tableDnD.serialize(),
				success : function(html) {
					// Show the message
					if (html === "success") {
						clearTimeout(msg_timer);
						msg_successBox.stop(true, true).hide().fadeIn(500);
						msg_timer = setTimeout(function(){
							msg_successBox.fadeOut(500);
						}, 3000);
					}
				}
			});
		}
	});
});

// function fixColouring(ele, index) {
// 	var rowClassCorrect	= (index % 2 == 0) ? "row1" : "row2";
// 	var rowClassIncorrect = (index % 2 == 0) ? "row2" : "row1";
// 	
// 	// If incorrect class remove the class.
// 	if (jQuery(ele).hasClass(rowClassIncorrect)) {
// 		jQuery(ele).removeClass(rowClassIncorrect);
// 	}
// 	
// 	// If needed assign the new class
// 	if (jQuery(ele).hasClass(rowClassCorrect) === false) {
// 		jQuery(ele).addClass(rowClassCorrect);
// 	}
// }

// ]]>
</script>

<!-- ENDIF -->
