<script type="text/javascript">
<!--
/**
 * Toggle the visibility of the qr box
 */
function toggle_quick_reply()
{
	if (document.getElementById('quick_reply'))
	{
		if (document.getElementById('quick_reply').style.display == 'none')
		{
			document.getElementById('quick_reply').style.display = 'block';
		}
		else
		{
			document.getElementById('quick_reply').style.display = 'none';
		}
	}
}

<!-- IF S_QR_RESIZE -->
/**
 * Resize a textbox
 * Original function by Disturbed One (http://www.hvmdesign.com/)
 */
function textbox_resize(pix)  
{  
	var box			= document.getElementById('message');
	var new_height	= (parseInt(box.style.height) ? parseInt(box.style.height) : 300) + pix;
	
	if (new_height > 0)
	{
		box.style.height = new_height + 'px';
	}
	
	return false;
}
<!-- ENDIF -->

if (<!-- IF S_QR_HIDE_BOX -->1<!-- ELSE -->0<!-- ENDIF -->)
{
	if (document.addEventListener)
	{
		document.addEventListener('DOMContentLoaded', toggle_quick_reply, false);
	}
	else
	{
		onload_functions.push('toggle_quick_reply()');
	}
}
//-->
</script>

<div id="quick_reply">
	<form action="{S_QR_POST_ACTION}" method="post" id="postform">
		<div class="panel" id="postingbox">
			<div class="inner"><span class="corners-top"><span></span></span>
			
			<h3>{L_POST_REPLY}</h3>
			
			<fieldset class="fields1">
			
			<dd><!-- INCLUDE posting_buttons.html --></dd>
			
			<dl id="smiley-box">
				<!-- IF S_SMILIES_ALLOWED and .smiley -->
					<strong>{L_SMILIES}</strong><br />
					<!-- BEGIN smiley -->
						<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" /></a>
					<!-- END smiley -->
				<!-- ENDIF -->
				<!-- IF S_SHOW_SMILEY_LINK and S_SMILIES_ALLOWED-->
					<br /><a href="{U_MORE_SMILIES}" onclick="popup(this.href, 300, 350, '_phpbbsmilies'); return false;">{L_MORE_SMILIES}</a>
				<!-- ENDIF -->
			</dl>
				
			<dl style="clear: left;" id="message-box">
				<!-- IF S_QR_SUBJECT -->
				<dd>
					<input type="text" name="subject" id="subject" size="45" maxlength="64" tabindex="1" value="{QR_SUBJECT}" class="inputbox" style="width:100%;" />
				</dd>
				<!-- ENDIF -->
				<dd>
					<textarea name="message" id="message" rows="10" cols="76" tabindex="2" class="inputbox" style="height:200px; width:99%;"></textarea>
				</dd>
				<!-- IF S_QR_RESIZE -->
				<dd>
					<input type="button" value=" + " class="button1" onclick="textbox_resize(100);" />
					<input type="button" value=" - " class="button1" onclick="textbox_resize(-100);" />
				</dd>
				<!-- ENDIF -->
			</dl>
			</fieldset>
				
			<span class="corners-bottom"><span></span></span></div>
		</div>
		
		<!-- IF not S_USER_LOGGED_IN -->
		<div class="panel bg2">
			<div class="inner"><span class="corners-top"><span></span></span>	
			
			<fieldset class="fields1">
				<div class="column1">
				<dl>
					<dl>
						<dt><label for="username">{L_USERNAME}:</label></dt>
						<dd><input type="text" tabindex="3" name="username" id="username" size="25" maxlength="30" class="inputbox" /></dd>
					</dl>
					<!-- IF S_CONFIRM_CODE -->
					<dl>
						<dt><label for="confirm_code">{L_CONFIRM_CODE}:</label></dt>
							<dd><input type="hidden" name="confirm_id" value="{CONFIRM_ID}" />{CONFIRM_IMAGE}</dd>
							<dd><input type="text" name="confirm_code" id="confirm_code" size="8" maxlength="8" tabindex="4" class="inputbox narrow" title="{L_CONFIRM_CODE}" /></dd>
					</dl>
					<!-- ENDIF -->
				</dl>
				</div>
			</fieldset>
		
			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- ENDIF -->
		
		<div class="panel bg2">
			<div class="inner"><span class="corners-top"><span></span></span>	
			
			<fieldset class="submit-buttons">
				{S_QR_HIDDEN_FIELDS}
				<input type="submit" name="preview" tabindex="6" value="{L_PREVIEW}" class="button1" onclick="document.getElementById('postform').action += '#preview';" />&nbsp; 
				<input type="submit" name="post" tabindex="5" value="{L_SUBMIT}" class="button1" accesskey="s" />
			</fieldset>
		
			<span class="corners-bottom"><span></span></span></div>
		</div>
	{S_FORM_TOKEN}
	</form>
</div>