<form>
	<table class="tablebg" width="100%" cellspacing="1">
		<tr>
			<td class="row1"><b class="genmed">{{ lang('ABBC3_BBVIDEO_SITES') }}{{ lang('COLON') }}</b></td>
			<td class="row1">
				<select id="bbvideo_wizard_sites" name="bbvideo_wizard_sites">
					{% for bbvideo_site in loops.bbvideo_sites %}
						<option value="{{ bbvideo_site.VALUE }}"{% if bbvideo_site.S_SELECTED %} selected="selected"{% endif %}>{{ bbvideo_site.LABEL }}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td class="row1"><b class="genmed">{{ lang('ABBC3_BBCODE_WIZ_EXAMPLE') }}{{ lang('COLON') }}</b></td>
			<td class="row1">
				<input type="text" id="bbvideo_wizard_example" name="bbvideo_wizard_example" readonly="readonly" value="{{ ABBC3_BBVIDEO_LINK_EX }}" size="60" class="post disabled" />
			</td>
		</tr>
		<tr>
			<td class="row2"><b class="genmed">{{ lang('ABBC3_BBVIDEO_LINK') }}{{ lang('COLON') }}</b></td>
			<td class="row2">
				<input type="text" id="bbvideo_wizard_link" name="bbvideo_wizard_link" value="" class="post" size="60" />
			</td>
		</tr>
		<tr>
			<td class="row2"><b class="genmed">{{ lang('ABBC3_BBVIDEO_SIZE') }}{{ lang('COLON') }}</b></td>
			<td class="row2">
				<input type="number" id="bbvideo_wizard_width" name="bbvideo_wizard_width" value="{{ ABBC3_BBVIDEO_WIDTH }}" class="post" style="width:60px;" min="0" max="9999" size="4" />
				{{ lang('ABBC3_BBVIDEO_SEPARATOR') }}
				<input type="number" id="bbvideo_wizard_height" name="bbvideo_wizard_height" value="{{ ABBC3_BBVIDEO_HEIGHT }}" class="post" style="width:60px;" min="0" max="9999" size="4" />
				<select id="bbvideo_wizard_size_presets" name="bbvideo_wizard_size_presets">
					<option value="">{{ lang('ABBC3_BBVIDEO_PRESETS') }}</option>
					{% for bbvideo_size in loops.bbvideo_sizes %}
						<option value="{{ bbvideo_size.VALUE }}">{{ bbvideo_size.LABEL }}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td class="cat" colspan="2" align="center">
				<input type="button" name="bbcode_wizard_submit" id="bbcode_wizard_submit" value="{{ lang('ABBC3_BBCODE_WIZ_SUBMIT') }}" class="btnmain" data-bbcode="bbvideo" /> &nbsp;
				<input type="button" name="bbcode_wizard_cancel" id="bbcode_wizard_cancel" value="{{ lang('CANCEL') }}" class="btnlite" />
			</td>
		</tr>
	</table>
</form>
