<form>
	<table class="tablebg" width="100%" cellspacing="1">
		<tr>
			<td class="row1"><b class="genmed">{L_ABBC3_BBVIDEO_SITES}{L_COLON}</b></td>
			<td class="row1">
				<select id="bbvideo_wizard_sites" name="bbvideo_wizard_sites">
					{S_ABBC3_BBVIDEO_SITES}
				</select>
			</td>
		</tr>				
		<tr>
			<td class="row1"><b class="genmed">{L_ABBC3_BBCODE_WIZ_EXAMPLE}{L_COLON}</b></td>
			<td class="row1">
				<input type="text" id="bbvideo_wizard_example" name="bbvideo_wizard_example" readonly="readonly" value="{ABBC3_BBVIDEO_LINK_EX}" size="60" class="post disabled" />
			</td>
		</tr>
		<tr>
			<td class="row2"><b class="genmed">{L_ABBC3_BBVIDEO_LINK}{L_COLON}</b></td>
			<td class="row2">
				<input type="text" id="bbvideo_wizard_link" name="bbvideo_wizard_link" value="" class="post" size="60" />
			</td>
		</tr>
		<tr>
			<td class="row2"><b class="genmed">{L_ABBC3_BBVIDEO_SIZE}{L_COLON}</b></td>
			<td class="row2">
				<input type="number" id="bbvideo_wizard_width" name="bbvideo_wizard_width" value="{L_ABBC3_BBVIDEO_WIDTH}" class="post" min="0" max="9999" size="4" /> x <input type="number" id="bbvideo_wizard_height" name="bbvideo_wizard_height" value="{L_ABBC3_BBVIDEO_HEIGHT}" class="post" min="0" max="9999" size="4" />
				<select id="bbvideo_wizard_size_presets" name="bbvideo_wizard_size_presets">
					<option value="">{L_ABBC3_BBVIDEO_PRESETS}</option>
					{S_ABBC3_BBVIDEO_SIZES}
				</select>
			</td>
		</tr>
		<tr>
			<td class="cat" colspan="2" align="center">
				<input type="button" name="bbvideo_wizard_submit" id="bbvideo_wizard_submit" value="{L_ABBC3_BBCODE_WIZ_SUBMIT}" class="btnmain" /> &nbsp; 
				<input type="button" name="bbvideo_wizard_cancel" id="bbvideo_wizard_cancel" value="{L_CANCEL}" class="btnlite" />
			</td>
		</tr>
	</table>	
</form>
