<script>

var copyPaste = '';
var bbvideoHeight = '{ABBC3_BBVIDEO_HEIGHT}';
var bbvideoWidth = '{ABBC3_BBVIDEO_WIDTH}';

/**
* Strip all BBCodes from the selected text
*/
function bbcodeToPlain(data) {
	if (data.indexOf('[') < 0) {
		return data;
	}

	function bbcodeToPlainSimpleReplace(str) {
		return str.replace(basicBBcodeMatch, bbcodeToPlainPattern);
	}

	function bbcodeToPlainPattern(match_0, match_1, match_2, match_3) {
		if (match_3 && match_3.indexOf('[') > -1) {
			match_3 = bbcodeToPlainSimpleReplace(match_3);
		}
		return match_3;
	}

	var basicBBcodeMatch = new RegExp('\\[([a-z][a-z0-9]*)(?:=([^\\]]+))?]((?:.|[\r\n])*?)\\[/\\1]', 'gim');

	return bbcodeToPlainSimpleReplace(data);
}

/**
* Apply special BBCodes
*/
function bbspecial(bbcode, bbcodeId) {
	theSelection = false;

	var textarea = document.forms[form_name].elements[text_name];

	textarea.focus();

	var selLength, selStart, selEnd, s1, s2, s3;

	if ((clientVer >= 4) && is_ie && is_win) {
		// Get text selection
		theSelection = document.selection.createRange().text;
	} else if (document.forms[form_name].elements[text_name].selectionEnd
			&& (document.forms[form_name].elements[text_name].selectionEnd - document.forms[form_name].elements[text_name].selectionStart > 0)) {
		selLength = textarea.textLength;
		selLength = (typeof(selLength) === 'undefined' || selLength === '' || selLength === null) ? textarea.value.length : selLength;
		selStart = textarea.selectionStart;
		selEnd = textarea.selectionEnd;

		if (selEnd === 1 || selEnd === 2) {
			selEnd = selLength;
		}

		s1 = (textarea.value).substring(0, selStart);
		s2 = (textarea.value).substring(selStart, selEnd);
		s3 = (textarea.value).substring(selEnd, selLength);
		theSelection = s2;
	}

	switch (bbcode) {
		case 'abbc3_plain':
			if (theSelection) {
				try {
					var tempSelection = bbcodeToPlain(theSelection);

					if ((clientVer >= 4) && is_ie && is_win) {
						document.selection.createRange().text = tempSelection;
					}
					else if (textarea.selectionEnd && (textarea.selectionEnd - textarea.selectionStart > 0)) {
						textarea.value = s1 + tempSelection + s3;
						selEnd = textarea.selectionEnd = (textarea.value).substring(0, selStart).length + tempSelection.length;
					}
				} catch (e) {}
			} else {
				alert('{LA_ERROR}{LA_COLON} {LA_ABBC3_NOSELECT_ERROR}');
				return;
			}
			break;

		case 'abbc3_copy':
			if (theSelection) {
				copyPaste = theSelection;
			} else {
				alert('{LA_ERROR}{LA_COLON} {LA_ABBC3_NOSELECT_ERROR}');
				return;
			}
			break;

		case 'abbc3_paste':
			if (copyPaste) {
				bbfontstyle(copyPaste, '');
			} else {
				alert('{LA_ERROR}{LA_COLON} {LA_ABBC3_PASTE_ERROR}');
			}
			break;

		case 'align=':
			bbfontstyle('[align=center]', '[/align]');
			break;

		case 'float=':
			bbfontstyle('[float=left]', '[/float]');
			break;

		case 'dir=':
			bbfontstyle('[dir=rtl]', '[/dir]');
			break;

		case 'marq=':
			bbfontstyle('[marq=left]', '[/marq]');
			break;

		case 'mod=':
			bbfontstyle('[mod={{ ABBC3_USERNAME|e("js") }}]', '[/mod]');
			break;

		case 'highlight=':
			bbfontstyle('[highlight=yellow]', '[/highlight]');
			break;

		case 'glow=':
			bbfontstyle('[glow=red]', '[/glow]');
			break;

		case 'shadow=':
			bbfontstyle('[shadow=blue]', '[/shadow]');
			break;

		case 'dropshadow=':
			bbfontstyle('[dropshadow=blue]', '[/dropshadow]');
			break;

		case 'blur=':
			bbfontstyle('[blur=blue]', '[/blur]');
			break;

		case 'BBvideo=':
			if (theSelection || phpbb.isTouch) {
				bbfontstyle('[BBvideo=' + bbvideoWidth + ',' + bbvideoHeight + ']', '[/BBvideo]');
			} else {
				bbwizard('{UA_ABBC3_BBVIDEO_WIZARD}', 'bbvideo');
			}
			break;

		case 'url':
			if (theSelection || phpbb.isTouch) {
				bbstyle(16);
			} else {
				bbwizard('{UA_ABBC3_URL_WIZARD}', 'url');
			}
			break;

		default:
			bbstyle(bbcodeId);
			break;
	}

	theSelection = '';
}

</script>

<div id="abbc3_buttons">
	<div class="abbc3_buttons_row">
		<input type="button" class="abbc3_button" accesskey="b" name="addbbcode0" value=" " style="background-image:url('{ROOT_PATH}{ABBC3_BBCODE_ICONS}/bold.gif');" onclick="bbstyle(0)" title="{L_BBCODE_B_HELP}" />
		<input type="button" class="abbc3_button" accesskey="i" name="addbbcode2" value=" " style="background-image:url('{ROOT_PATH}{ABBC3_BBCODE_ICONS}/italic.gif');" onclick="bbstyle(2)" title="{L_BBCODE_I_HELP}" />
		<input type="button" class="abbc3_button" accesskey="u" name="addbbcode4" value=" " style="background-image:url('{ROOT_PATH}{ABBC3_BBCODE_ICONS}/underline.gif');" onclick="bbstyle(4)" title="{L_BBCODE_U_HELP}" />
		<!-- IF S_BBCODE_QUOTE -->
			<input type="button" class="abbc3_button" accesskey="q" name="addbbcode6" value=" " style="background-image:url('{ROOT_PATH}{ABBC3_BBCODE_ICONS}/quote.gif');" onclick="bbstyle(6)" title="{L_BBCODE_Q_HELP}" />
		<!-- ENDIF -->
		<input type="button" class="abbc3_button" accesskey="c" name="addbbcode8" value=" " style="background-image:url('{ROOT_PATH}{ABBC3_BBCODE_ICONS}/code.gif');" onclick="bbstyle(8)" title="{L_BBCODE_C_HELP}" />
		<input type="button" class="abbc3_button" accesskey="l" name="addbbcode10" value=" " style="background-image:url('{ROOT_PATH}{ABBC3_BBCODE_ICONS}/listb.gif');" onclick="bbstyle(10)" title="{L_BBCODE_L_HELP}" />
		<input type="button" class="abbc3_button" accesskey="o" name="addbbcode12" value=" " style="background-image:url('{ROOT_PATH}{ABBC3_BBCODE_ICONS}/listo.gif');" onclick="bbstyle(12)" title="{L_BBCODE_O_HELP}" />
		<input type="button" class="abbc3_button" accesskey="y" name="addlistitem" value=" " style="background-image:url('{ROOT_PATH}{ABBC3_BBCODE_ICONS}/listitem.gif');" onclick="bbstyle(-1)" title="{L_BBCODE_LISTITEM_HELP}" />
		<!-- IF S_BBCODE_IMG -->
			<input type="button" class="abbc3_button" accesskey="p" name="addbbcode14" value=" " style="background-image:url('{ROOT_PATH}{ABBC3_BBCODE_ICONS}/img.gif');" onclick="bbstyle(14)" title="{L_BBCODE_P_HELP}" />
		<!-- ENDIF -->
		<!-- IF S_LINKS_ALLOWED -->
			<input type="button" class="abbc3_button" accesskey="w" name="addbbcode16" value=" " style="background-image:url('{ROOT_PATH}{ABBC3_BBCODE_ICONS}/url.gif');" onclick="bbspecial('url')" title="{L_BBCODE_W_HELP}" />
		<!-- ENDIF -->
		<!-- IF S_BBCODE_FLASH -->
			<input type="button" class="abbc3_button" accesskey="d" name="addbbcode18" value=" " style="background-image:url('{ROOT_PATH}{ABBC3_BBCODE_ICONS}/flash.gif');" onclick="bbstyle(18)" title="{L_BBCODE_D_HELP}" />
		<!-- ENDIF -->
		<input type="button" class="abbc3_button" name="abbc3_bbpalette" id="abbc3_bbpalette" value=" " style="background-image:url('{ROOT_PATH}{ABBC3_BBCODE_ICONS}/fontcolor.gif');" onclick="change_palette();" title="{L_BBCODE_S_HELP}" />
		<select class="abbc3_select" name="abbc3_addbbcode20" onchange="bbfontstyle('[size=' + this.form.abbc3_addbbcode20.options[this.form.abbc3_addbbcode20.selectedIndex].value + ']', '[/size]');this.form.abbc3_addbbcode20.selectedIndex = 2;" title="{L_BBCODE_F_HELP}">
			<option value="50">{L_FONT_TINY}</option>
			<option value="85">{L_FONT_SMALL}</option>
			<option value="100" selected="selected">{L_FONT_NORMAL}</option>
			<!-- IF not MAX_FONT_SIZE or MAX_FONT_SIZE >= 150 -->
				<option value="150">{L_FONT_LARGE}</option>
				<!-- IF not MAX_FONT_SIZE or MAX_FONT_SIZE >= 200 -->
					<option value="200">{L_FONT_HUGE}</option>
				<!-- ENDIF -->
			<!-- ENDIF -->
		</select>
		<input type="button" class="abbc3_button" name="copybbcode" value=" " style="background-image:url('{ROOT_PATH}{ABBC3_BBCODE_ICONS}/copy.gif');" onclick="bbspecial('abbc3_copy')" title="{L_ABBC3_COPY_BBCODE}">
		<input type="button" class="abbc3_button" name="pastebbcode" value=" " style="background-image:url('{ROOT_PATH}{ABBC3_BBCODE_ICONS}/paste.gif');" onclick="bbspecial('abbc3_paste')" title="{L_ABBC3_PASTE_BBCODE}">
		<input type="button" class="abbc3_button" name="plainbbcode" value=" " style="background-image:url('{ROOT_PATH}{ABBC3_BBCODE_ICONS}/plain.gif');" onclick="bbspecial('abbc3_plain')" title="{L_ABBC3_PLAIN_BBCODE}">
	</div>
	<!-- IF .custom_tags -->
		<div class="abbc3_buttons_row" style="border-top:0;">
			<!-- BEGIN custom_tags -->
				<!-- IF custom_tags.S_CUSTOM_BBCODE_ALLOWED -->
					<!-- IF custom_tags.BBCODE_TAG eq 'font=' -->
						<select class="abbc3_select" name="abbc3_font" onchange="bbfontstyle('[font=' + this.form.abbc3_font.options[this.form.abbc3_font.selectedIndex].value + ']', '[/font]'); this.form.abbc3_font.selectedIndex = 0" title="{custom_tags.BBCODE_HELPLINE}">
							<option selected="selected" >{L_ABBC3_FONT_BBCODE}</option>
							<optgroup label="{L_ABBC3_FONT_SAFE}">
								<option style="font-family: Arial;" value="Arial">Arial</option>
								<option style="font-family: Arial Black;" value="Arial Black">Arial Black</option>
								<option style="font-family: Comic Sans MS;" value="Comic Sans MS">Comic Sans MS</option>
								<option style="font-family: Courier New;" value="Courier New">Courier New</option>
								<option style="font-family: Georgia;" value="Georgia">Georgia</option>
								<option style="font-family: Impact;" value="Impact">Impact</option>
								<option style="font-family: Times New Roman;" value="Times New Roman">Times New Roman</option>
								<option style="font-family: Trebuchet MS;" value="Trebuchet MS">Trebuchet MS</option>
								<option style="font-family: Verdana;" value="Verdana">Verdana</option>
							</optgroup>
							<optgroup label="{L_ABBC3_FONT_FANCY}">
								<option style="font-family: Bradley Hand ITC;" value="Bradley Hand ITC" >Bradley Hand ITC</option>
								<option style="font-family: Century Gothic;" value="Century Gothic" >Century Gothic</option>
								<option style="font-family: Curlz MT;" value="Curlz MT">Curlz MT</option>
								<option style="font-family: cursive;" value="cursive">Cursive</option>
								<option style="font-family: fantasy;" value="fantasy">Fantasy</option>
								<option style="font-family: French Script MT;" value="French Script MT">French Script MT</option>
								<option style="font-family: Garamond;" value="Garamond">Garamond</option>
								<option style="font-family: Garamond Bold;" value="Garamond Bold">Garamond Bold</option>
								<option style="font-family: Goudy Stout;" value="Goudy Stout">Goudy Stout</option>
								<option style="font-family: Helvetica;" value="Helvetica">Helvetica</option>
								<option style="font-family: monospace;" value="monospace">Monospace</option>
								<option style="font-family: OCR A Extended;" value="OCR A Extended">OCR A Extended</option>
								<option style="font-family: Script MT Bold;" value="Script MT Bold">Script MT Bold</option>
							</optgroup>
							<optgroup label="{L_ABBC3_FONT_WIN}">
								<option style="font-family: Lucida Console;" value="Lucida Console">Lucida Console</option>
								<option style="font-family: Lucida Sans Unicode;" value="Lucida Sans Unicode">Lucida Sans Unicode</option>
								<option style="font-family: Microsoft Sans Serif;" value="Microsoft Sans Serif">Microsoft Sans Serif</option>
								<option style="font-family: MS Mincho;" value="MS Mincho">MS Mincho</option>
								<option style="font-family: Palatino Linotype;" value="Palatino Linotype">Palatino Linotype</option>
								<option style="font-family: Symbol;" value="Symbol">Symbol</option>
								<option style="font-family: Tahoma;" value="Tahoma">Tahoma</option>
							</optgroup>
						</select>
					<!-- ELSE -->
						<input type="button" class="abbc3_button" name="addbbcode{custom_tags.BBCODE_ID}" value=" <!-- IF not custom_tags.BBCODE_IMG -->{custom_tags.BBCODE_TAG}<!-- ENDIF --> "<!-- IF custom_tags.BBCODE_IMG --> style="background-image:url('{ROOT_PATH}{custom_tags.BBCODE_IMG}');"<!-- ENDIF --> onclick="bbspecial('{custom_tags.BBCODE_TAG}', {custom_tags.BBCODE_ID})" title="{custom_tags.BBCODE_HELPLINE}" />
					<!-- ENDIF -->
				<!-- ENDIF -->
			<!-- END custom_tags -->
		</div>
	<!-- ENDIF -->
</div>
<div id="bbcode_wizard"></div>
