<script>

/*global theSelection, form_name */

var copyPaste = '';

/**
* Strip all BBCodes from the selected text
*/
function bbcodeToPlain(data) {
	if (data.indexOf('[') < 0) {
		return data;
	}

	function bbcodeToPlainSimpleReplace(str) {
		return str.replace(basicBBcodeMatch, bbcodeToPlainPattern);
	}

	function bbcodeToPlainPattern(match_0, match_1, match_2, match_3) {
		if (match_3 && match_3.indexOf('[') > -1) {
			match_3 = bbcodeToPlainSimpleReplace(match_3);
		}
		return match_3;
	}

	var basicBBcodeMatch = new RegExp('\\[([a-z][a-z0-9]*)(?:=([^\\]]+))?]((?:.|[\r\n])*?)\\[/\\1]', 'gim');

	return bbcodeToPlainSimpleReplace(data);
}

/**
* Apply special BBCodes
*/
function bbspecial(bbcode, bbcodeId) {
	theSelection = false;

	var textarea = document.forms[form_name].elements[text_name];

	textarea.focus();

	var selLength, selStart, selEnd, s1, s2, s3;

	if ((clientVer >= 4) && is_ie && is_win) {
		// Get text selection
		theSelection = document.selection.createRange().text;
	} else if (document.forms[form_name].elements[text_name].selectionEnd
			&& (document.forms[form_name].elements[text_name].selectionEnd - document.forms[form_name].elements[text_name].selectionStart > 0)) {
		selLength = textarea.textLength;
		selLength = (typeof(selLength) === 'undefined' || selLength === '' || selLength === null) ? textarea.value.length : selLength;
		selStart = textarea.selectionStart;
		selEnd = textarea.selectionEnd;

		if (selEnd === 1 || selEnd === 2) {
			selEnd = selLength;
		}

		s1 = (textarea.value).substring(0, selStart);
		s2 = (textarea.value).substring(selStart, selEnd);
		s3 = (textarea.value).substring(selEnd, selLength);
		theSelection = s2;
	}

	switch (bbcode) {
		case 'abbc3_plain':
			if (theSelection) {
				try {
					var tempSelection = bbcodeToPlain(theSelection);

					if ((clientVer >= 4) && is_ie && is_win) {
						document.selection.createRange().text = tempSelection;
					}
					else if (textarea.selectionEnd && (textarea.selectionEnd - textarea.selectionStart > 0)) {
						textarea.value = s1 + tempSelection + s3;
						selEnd = textarea.selectionEnd = (textarea.value).substring(0, selStart).length + tempSelection.length;
					}
				} catch (e) {}
			} else {
				alert('{{ lang('ABBC3_NOSELECT_ERROR')|e("js") }}');
				return;
			}
			break;

		case 'abbc3_copy':
			if (theSelection) {
				copyPaste = theSelection;
			} else {
				alert('{{ lang('ABBC3_NOSELECT_ERROR')|e("js") }}');
				return;
			}
			break;

		case 'abbc3_paste':
			if (copyPaste) {
				bbfontstyle(copyPaste, '');
			} else {
				alert('{{ lang('ABBC3_PASTE_ERROR')|e("js") }}');
			}
			break;

		case 'align':
		case 'align=':
			bbfontstyle('[align=center]', '[/align]');
			break;

		case 'float':
		case 'float=':
			bbfontstyle('[float=left]', '[/float]');
			break;

		case 'dir':
		case 'dir=':
			bbfontstyle('[dir=rtl]', '[/dir]');
			break;

		case 'marq':
		case 'marq=':
			bbfontstyle('[marq=left]', '[/marq]');
			break;

		case 'mod':
		case 'mod=':
			bbfontstyle('[mod={{ ABBC3_USERNAME|e("js") }}]', '[/mod]');
			break;

		case 'highlight':
		case 'highlight=':
			bbfontstyle('[highlight=yellow]', '[/highlight]');
			break;

		case 'glow':
		case 'glow=':
			bbfontstyle('[glow=red]', '[/glow]');
			break;

		case 'shadow':
		case 'shadow=':
			bbfontstyle('[shadow=blue]', '[/shadow]');
			break;

		case 'dropshadow':
		case 'dropshadow=':
			bbfontstyle('[dropshadow=blue]', '[/dropshadow]');
			break;

		case 'blur':
		case 'blur=':
			bbfontstyle('[blur=blue]', '[/blur]');
			break;

		case 'bbvideo':
		case 'BBvideo':
		case 'BBvideo=':
		case 'media':
			var tag = bbcode.replace('=', '').toLowerCase();
			if (theSelection || phpbb.isTouch) {
				bbfontstyle('[' + tag + ']', '[/' + tag + ']');
			} else {
				bbwizard('{{ UA_ABBC3_BBVIDEO_WIZARD }}', tag);
			}
			break;

		case 'url':
			if (theSelection || phpbb.isTouch) {
				bbstyle(16);
			} else {
				bbwizard('{{ UA_ABBC3_URL_WIZARD }}', bbcode);
			}
			break;

		case 'pipes':
			bbwizard('{{ UA_ABBC3_PIPES_WIZARD }}', bbcode);
			break;

		default:
			bbstyle(bbcodeId);
			break;
	}

	theSelection = '';
}

</script>

<div id="abbc3_buttons">
	<div class="abbc3_buttons_row">
		<button type="button" class="{{ ABBC3_BBCODE_ICONS.bold ? 'abbc3_button' : 'button button-icon-only bbcode-b' }}" accesskey="b" name="addbbcode0" value=" B " style="background-image:url('{{ ROOT_PATH ~ ABBC3_BBCODE_ICONS.bold }}');" onclick="bbstyle(0)" title="{{ lang('BBCODE_B_HELP') }}">
			{% if not ABBC3_BBCODE_ICONS.bold %}<i class="icon fa-bold fa-fw" aria-hidden="true"></i>{% endif %}
		</button>
		<button type="button" class="{{ ABBC3_BBCODE_ICONS.italic ? 'abbc3_button' : 'button button-icon-only bbcode-i' }}" accesskey="i" name="addbbcode2" value=" i " style="background-image:url('{{ ROOT_PATH ~ ABBC3_BBCODE_ICONS.italic }}');" onclick="bbstyle(2)" title="{{ lang('BBCODE_I_HELP') }}">
			{% if not ABBC3_BBCODE_ICONS.italic %}<i class="icon fa-underline fa-fw" aria-hidden="true"></i>{% endif %}
		</button>
		<button type="button" class="{{ ABBC3_BBCODE_ICONS.underline ? 'abbc3_button' : 'button button-icon-only bbcode-u' }}" accesskey="u" name="addbbcode4" value=" u " style="background-image:url('{{ ROOT_PATH ~ ABBC3_BBCODE_ICONS.underline }}');" onclick="bbstyle(4)" title="{{ lang('BBCODE_U_HELP') }}">
			{% if not ABBC3_BBCODE_ICONS.underline %}<i class="icon fa-italic fa-fw" aria-hidden="true"></i>{% endif %}
		</button>
		{% if S_BBCODE_QUOTE %}
			<button type="button" class="{{ ABBC3_BBCODE_ICONS.quote ? 'abbc3_button' : 'button button-icon-only bbcode-quote' }}" accesskey="q" name="addbbcode6" value="Quote" style="background-image:url('{{ ROOT_PATH ~ ABBC3_BBCODE_ICONS.quote }}');" onclick="bbstyle(6)" title="{{ lang('BBCODE_Q_HELP') }}">
				{% if not ABBC3_BBCODE_ICONS.quote %}<i class="icon fa-quote-left fa-fw" aria-hidden="true"></i>{% endif %}
			</button>
		{% endif %}
		<button type="button" class="{{ ABBC3_BBCODE_ICONS.code ? 'abbc3_button' : 'button button-icon-only bbcode-code' }}" accesskey="c" name="addbbcode8" value="Code" style="background-image:url('{{ ROOT_PATH ~ ABBC3_BBCODE_ICONS.code }}');" onclick="bbstyle(8)" title="{{ lang('BBCODE_C_HELP') }}">
			{% if not ABBC3_BBCODE_ICONS.code %}<i class="icon fa-code fa-fw" aria-hidden="true"></i>{% endif %}
		</button>
		<button type="button" class="{{ ABBC3_BBCODE_ICONS.listb ? 'abbc3_button' : 'button button-icon-only bbcode-list' }}" accesskey="l" name="addbbcode10" value="List" style="background-image:url('{{ ROOT_PATH ~ ABBC3_BBCODE_ICONS.listb }}');" onclick="bbstyle(10)" title="{{ lang('BBCODE_L_HELP') }}">
			{% if not ABBC3_BBCODE_ICONS.listb %}<i class="icon fa-list fa-fw" aria-hidden="true"></i>{% endif %}
		</button>
		<button type="button" class="{{ ABBC3_BBCODE_ICONS.listo ? 'abbc3_button' : 'button button-icon-only bbcode-list-' }}" accesskey="o" name="addbbcode12" value="List=" style="background-image:url('{{ ROOT_PATH ~ ABBC3_BBCODE_ICONS.listo }}');" onclick="bbstyle(12)" title="{{ lang('BBCODE_O_HELP') }}">
			{% if not ABBC3_BBCODE_ICONS.bold %}<i class="icon fa-list-ol fa-fw" aria-hidden="true"></i>{% endif %}
		</button>
		<button type="button" class="{{ ABBC3_BBCODE_ICONS.listitem ? 'abbc3_button' : 'button button-icon-only bbcode-asterisk' }}" accesskey="y" name="addlistitem" value="[*]" style="background-image:url('{{ ROOT_PATH ~ ABBC3_BBCODE_ICONS.listitem }}');" onclick="bbstyle(-1)" title="{{ lang('BBCODE_LISTITEM_HELP') }}">
			{% if not ABBC3_BBCODE_ICONS.listitem %}<i class="icon fa-asterisk fa-fw" aria-hidden="true"></i>{% endif %}
		</button>
		{% if S_BBCODE_IMG %}
			<button type="button" class="{{ ABBC3_BBCODE_ICONS.img ? 'abbc3_button' : 'button button-icon-only bbcode-img' }}" accesskey="p" name="addbbcode14" value="Img" style="background-image:url('{{ ROOT_PATH ~ ABBC3_BBCODE_ICONS.img }}');" onclick="bbstyle(14)" title="{{ lang('BBCODE_P_HELP') }}">
				{% if not ABBC3_BBCODE_ICONS.img %}<i class="icon fa-image fa-fw" aria-hidden="true"></i>{% endif %}
			</button>
		{% endif %}
		{% if S_LINKS_ALLOWED %}
			<button type="button" class="{{ ABBC3_BBCODE_ICONS.url ? 'abbc3_button' : 'button button-icon-only bbcode-url' }}" accesskey="w" name="addbbcode16" value="URL" style="background-image:url('{{ ROOT_PATH ~ ABBC3_BBCODE_ICONS.url }}');" onclick="bbspecial('url')" title="{{ lang('BBCODE_W_HELP') }}">
				{% if not ABBC3_BBCODE_ICONS.url %}<i class="icon fa-link fa-fw" aria-hidden="true"></i>{% endif %}
			</button>
		{% endif %}
		{% if S_BBCODE_FLASH %}
			<button type="button" class="{{ ABBC3_BBCODE_ICONS.flash ? 'abbc3_button' : 'button button-icon-only bbcode-flash' }}" accesskey="d" name="addbbcode18" value="Flash" style="background-image:url('{{ ROOT_PATH ~ ABBC3_BBCODE_ICONS.flash }}');" onclick="bbstyle(18)" title="{{ lang('BBCODE_D_HELP') }}">
				{% if not ABBC3_BBCODE_ICONS.flash %}<i class="icon fa-flash fa-fw" aria-hidden="true"></i>{% endif %}
			</button>
		{% endif %}
		{% if S_BBCODE_MEDIA %}
			<button type="button" class="{{ ABBC3_BBCODE_ICONS.media ? 'abbc3_button' : 'button button-icon-only bbcode-media' }}" accesskey="m" name="addmedia" value="Media" style="background-image:url('{{ ROOT_PATH ~ ABBC3_BBCODE_ICONS.media }}');" onclick="bbspecial('media');" title="{{ lang('BBCODE_MEDIA_HELP') }}">
				{% if not ABBC3_BBCODE_ICONS.media %}<i class="icon fa-television fa-fw" aria-hidden="true"></i>{% endif %}
			</button>
		{% endif %}
		<button type="button" class="{{ ABBC3_BBCODE_ICONS.fontcolor ? 'abbc3_button' : 'button button-icon-only bbcode-color' }}" name="abbc3_bbpalette" id="abbc3_bbpalette" value="{{ not ABBC3_BBCODE_ICONS.fontcolor ? lang('FONT_COLOR') }}" style="background-image:url('{{ ROOT_PATH ~ ABBC3_BBCODE_ICONS.fontcolor }}');" onclick="change_palette();" title="{{ lang('BBCODE_S_HELP') }}">
			{% if not ABBC3_BBCODE_ICONS.fontcolor %}<i class="icon fa-tint fa-fw" aria-hidden="true"></i>{% endif %}
		</button>
		<select class="abbc3_select" name="abbc3_addbbcode20" onchange="bbfontstyle('[size=' + this.form.abbc3_addbbcode20.options[this.form.abbc3_addbbcode20.selectedIndex].value + ']', '[/size]');this.form.abbc3_addbbcode20.selectedIndex = 2;" title="{{ lang('BBCODE_F_HELP') }}">
			<option value="50">{{ lang('FONT_TINY') }}</option>
			<option value="85">{{ lang('FONT_SMALL') }}</option>
			<option value="100" selected="selected">{{ lang('FONT_NORMAL') }}</option>
			{% if not MAX_FONT_SIZE or MAX_FONT_SIZE >= 150 %}
				<option value="150">{{ lang('FONT_LARGE') }}</option>
				{% if not MAX_FONT_SIZE or MAX_FONT_SIZE >= 200 %}
					<option value="200">{{ lang('FONT_HUGE') }}</option>
				{% endif %}
			{% endif %}
		</select>
		<button type="button" class="{{ ABBC3_BBCODE_ICONS.copy ? 'abbc3_button' : 'button button-icon-only bbcode-copy' }}" name="copybbcode" value="copy" style="background-image:url('{{ ROOT_PATH ~ ABBC3_BBCODE_ICONS.copy }}');" onclick="bbspecial('abbc3_copy')" title="{{ lang('ABBC3_COPY_BBCODE') }}">
			{% if not ABBC3_BBCODE_ICONS.copy %}<i class="icon fa-copy fa-fw" aria-hidden="true"></i>{% endif %}
		</button>
		<button type="button" class="{{ ABBC3_BBCODE_ICONS.paste ? 'abbc3_button' : 'button button-icon-only bbcode-paste' }}" name="pastebbcode" value="paste" style="background-image:url('{{ ROOT_PATH ~ ABBC3_BBCODE_ICONS.paste }}');" onclick="bbspecial('abbc3_paste')" title="{{ lang('ABBC3_PASTE_BBCODE') }}">
			{% if not ABBC3_BBCODE_ICONS.paste %}<i class="icon fa-paste fa-fw" aria-hidden="true"></i>{% endif %}
		</button>
		<button type="button" class="{{ ABBC3_BBCODE_ICONS.plain ? 'abbc3_button' : 'button button-icon-only bbcode-plain' }}" name="plainbbcode" value="clear" style="background-image:url('{{ ROOT_PATH ~ ABBC3_BBCODE_ICONS.plain }}');" onclick="bbspecial('abbc3_plain')" title="{{ lang('ABBC3_PLAIN_BBCODE') }}">
			{% if not ABBC3_BBCODE_ICONS.plain %}<i class="icon fa-trash fa-fw" aria-hidden="true"></i>{% endif %}
		</button>
		{% EVENT vse_abbc3_posting_editor_buttons_custom_tags_before %}
	</div>
	{% if custom_tags %}
		<div class="abbc3_buttons_row" style="border-top:0;">
			{% EVENT vse_abbc3_posting_editor_buttons_custom_tags_prepend %}
			{% for custom_tag in custom_tags %}
				{% if custom_tag.S_CUSTOM_BBCODE_ALLOWED %}
					{% if custom_tag.BBCODE_TAG == 'font=' or custom_tag.BBCODE_TAG == 'font' %}
						<select class="abbc3_select" name="abbc3_font" onchange="bbfontstyle('[font=' + this.form.abbc3_font.options[this.form.abbc3_font.selectedIndex].value + ']', '[/font]'); this.form.abbc3_font.selectedIndex = 0" title="{{ custom_tag.BBCODE_HELPLINE }}">
							<option selected="selected" >{{ lang('ABBC3_FONT_BBCODE') }}</option>
							{% if S_ALLOW_CDN %}
								{% if abbc3_google_fonts is not iterable %}{% set abbc3_google_fonts = [] %}{% endif %}
								{% set abbc3_google_fonts = abbc3_google_fonts|merge(['Open Sans']) %}
							{% endif %}
							{% if abbc3_google_fonts is iterable %}{% set ABBC3_BBCODE_FONTS = { ABBC3_GOOGLE_FONTS: abbc3_google_fonts|sort }|merge(ABBC3_BBCODE_FONTS) %}{% endif %}
							{% for group, fonts in ABBC3_BBCODE_FONTS %}
								<optgroup label="{{ lang(group) }}">
									{% for font in fonts %}
										<option style="font-family:'{{ font }}',sans-serif;" value="{{ font }}">{{ font }}</option>
									{% endfor %}
								</optgroup>
							{% endfor %}
						</select>
					{% else %}
						<button type="button" class="{{ custom_tag.BBCODE_IMG ? 'abbc3_button' : 'button button-secondary bbcode-' ~ custom_tag.BBCODE_TAG_CLEAN }}" name="addbbcode{{ custom_tag.BBCODE_ID }}" value="{{ not custom_tag.BBCODE_IMG ? custom_tag.BBCODE_TAG }}"{% if custom_tag.BBCODE_IMG %} style="background-image:url('{{ ROOT_PATH ~ custom_tag.BBCODE_IMG }}');"{% endif %} onclick="bbspecial('{{ custom_tag.BBCODE_TAG }}', {{ custom_tag.BBCODE_ID }})" title="{{ custom_tag.BBCODE_HELPLINE }}">{{ not custom_tag.BBCODE_IMG ? custom_tag.BBCODE_TAG }}</button>
					{% endif %}
				{% endif %}
			{% endfor %}
			{% EVENT vse_abbc3_posting_editor_buttons_custom_tags_append %}
		</div>
	{% endif %}
</div>
<div id="bbcode_wizard"></div>
