
<!-- IF S_ABBC3_IN_WIZARD and S_ABBC3_WIZARD_MODE eq '1' -->
<!-- INCLUDE simple_header.html -->

<!-- MOD : MSSTI ABBC3 wizards (v{S_ABBC3_VERSION}) - START //-->

<script type="text/javascript" src="{T_SUPER_TEMPLATE_PATH}/editor.js"></script>
<!-- ENDIF -->

<!-- IF (not S_ABBC3_IN_WIZARD and S_ABBC3_WIZARD_MODE eq '2') or (S_ABBC3_IN_WIZARD and S_ABBC3_WIZARD_MODE eq '1') -->
<script type="text/javascript">
// <![CDATA[
<!-- INCLUDE ./../../abbcode/posting_abbcode_wizards.js -->
// ]]>
</script>
<!-- ENDIF -->

<!-- IF S_ABBC3_IN_WIZARD -->
<form id="abbcode_wizards" action="{S_ABBC3_WIZARD_PAGE}" method="post" enctype="multipart/form-data">

	<!-- IF S_WIZARD_TABLE -->
	<div class="rules">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<fieldset class="submit-buttons">
				<h4>{L_ABBC3_TABLE_MOVER}</h4>
			</fieldset>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
	<div class="panel">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<div class="content">
				<fieldset class="fields1">
					<!-- IF ERROR -->
						<div class="error">{ERROR}</div>
					<!-- ENDIF -->
					<!-- IF ABBC3_EXAMPLE -->
					<dl>
						<dt><label>{L_ABBC3_EXAMPLE}:</label></dt>
						<dd>{L_ABBC3_TABLE_TIP}</dd>
					</dl>
					<hr />
					<!-- ENDIF -->
					<dl>
						<dt><label>{L_ABBC3_TABLE_STYLE}:</label></dt>
						<dd>
							<input type="text"   id="promptbox1" name="promptbox1" value="" class="inputbox autowidth" size="50" />
							<br />
							<span>{L_ABBC3_TABLE_EXAMPLE}</span><br />
						</dd>
					</dl>
					<dl>
						<dt><label>{L_ABBC3_ROW_NUMBER}:</label></dt>
						<dd>
							<input type="text"   id="promptbox2" name="promptbox2" value="" class="inputbox autowidth" size="4" />
							<input type="hidden" id="errorbox2"  name="errorbox2"  value="{L_ABBC3_ROW_ERROR}" />
						</dd>
					</dl>
					<dl>
						<dt><label>{L_ABBC3_ROW_STYLE}:</label></dt>
						<dd>
							<input type="text"   id="promptbox3" name="promptbox3" value="" class="inputbox autowidth" size="50" />
							<br />
							<span>{L_ABBC3_ROW_EXAMPLE}</span><br />
						</dd>
					</dl>
					<dl>
						<dt><label>{L_ABBC3_CELL_NUMBER}:</label></dt>
						<dd>
							<input type="text"   id="promptbox4" name="promptbox4" value="" class="inputbox autowidth" size="4" />
							<input type="hidden" id="errorbox4"  name="errorbox4"  value="{L_ABBC3_CELL_ERROR}" />
						</dd>
					</dl>
					<dl>
						<dt><label>{L_ABBC3_CELL_STYLE}:</label></dt>
						<dd>
							<input type="text"  id="promptbox5"  name="promptbox5" value="" class="inputbox autowidth" size="50" />
							<br />
							<span>{L_ABBC3_CELL_EXAMPLE}</span><br />
						</dd>
					</dl>
				</fieldset>
			</div>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>

	<div class="panel bg2">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<fieldset class="submit-buttons">
			<!-- IF TEXT_NAME eq 'signature' --><input type="button" name="{L_ABBC3_SUBMIT_SIG}" value="{L_ABBC3_SUBMIT_SIG}" class="button1" onclick="win_accept('table')" /> &nbsp; <!-- ELSE --><input type="button" name="{L_ABBC3_SUBMIT}" value="{L_ABBC3_SUBMIT}" class="button1" onclick="win_accept('table')" /> &nbsp; <!-- ENDIF -->
				<input type="button" name="{L_CANCEL}" value="{L_CANCEL}" class="button2" onclick="win_close(false);" />
			</fieldset>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>

	<!-- ELSEIF S_WIZARD_GRAD -->

	<div class="rules">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<fieldset class="submit-buttons">
				<h4>{L_ABBC3_GRAD_MOVER}</h4>
			</fieldset>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
	<div class="panel">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<div class="content" style="text-align:center;">
				<fieldset class="fields1">
					<!-- IF ERROR -->
						<div class="error">{ERROR}</div>
					<!-- ENDIF -->
					<select id="clr1" name="clr1" onchange="gradient_preview();">
						<option value=""> x </option>
					</select>
					&nbsp;
					<select id="clr2" name="clr2" onchange="gradient_preview();">
						<option value="" selected="selected"> x </option>
					</select>
					&nbsp;
					<select id="clr3" name="clr3" onchange="gradient_preview();">
					<option value="" selected="selected"> x </option>
					</select>
					&nbsp;
					<select id="clr4" name="clr4" onchange="gradient_preview();">
						<option value="" selected="selected"> x </option>
					</select>
					&nbsp;
					<select id="clr5" name="clr5" onchange="gradient_preview();">
						<option value=""> x </option>
					</select>&nbsp;
					&nbsp;
					<select id="clr0" name="clr0" onchange="gradient_template(false);">
						<option value="80,5,43,36,91" selected="selected">{L_ABBC3_GRAD_COLORS}</option>
						<option value="25,0,0,0,118">1</option>
						<option value="14,12,9,0,0">2</option>
						<option value="6,8,15,20,0">3</option>
						<option value="1,27,26,2,0">4</option>
						<option value="21,24,23,0,0">5</option>
						<option value="20,15,8,14,20">6</option>
					</select>
				</fieldset>
			</div>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>

	<div class="panel bg1">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<fieldset class="submit-buttons">
				<span id="grad_preview">&nbsp;</span>
			</fieldset>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
	
	<div class="panel bg2">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<fieldset class="submit-buttons">
			<!-- IF TEXT_NAME eq 'signature' --><input type="button" name="{L_ABBC3_SUBMIT_SIG}" value="{L_ABBC3_SUBMIT_SIG}" class="button1" onclick="gradient_preview(true)" /> &nbsp; <!-- ELSE --><input type="button" name="{L_ABBC3_SUBMIT}" value="{L_ABBC3_SUBMIT}" class="button1" onclick="gradient_preview(true)" /> &nbsp; <!-- ENDIF -->
				<input type="button" name="{L_CANCEL}" value="{L_CANCEL}" class="button2" onclick="win_close(false);" />
			</fieldset>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>

	<!-- ELSEIF S_WIZARD_GENERAL -->

	<div class="rules">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<div id="content">
			<fieldset class="submit-buttons">
				<h4>{L_ABBC3_LINK} {ABBC3_TAG}</h4>
			</fieldset>
			</div>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
	<div class="panel">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<div class="content">
				<fieldset class="fields1">
				<h2>{ABBC3_MOVER}</h2>

					<!-- IF S_BBVIDEO_OPTIONS -->
					<dl>
						<dt><label>{L_ABBC3_BBVIDEO_VIDEO}</label></dt>
						<dd>
							<select id="abbc3_video" name="abbc3_video" onchange="if(this.options[this.selectedIndex].value != -1){this.form.posttext.value=this.form.abbc3_video.options[this.form.abbc3_video.selectedIndex].value;}">
								{S_BBVIDEO_OPTIONS}
							</select>
							<!-- IF L_BBVIDEO_ERROR --><div class="error">{L_BBVIDEO_ERROR}</div><!-- ENDIF -->
						</dd>
					</dl>
					<!-- ENDIF -->

					<!-- IF ABBC3_EXAMPLE -->
					<dl>
						<dt><label>{L_ABBC3_EXAMPLE}:</label></dt>
						<dd>
							<input type="text" id="posttext" name="posttext" readonly="readonly" value="{ABBC3_EXAMPLE}" size="50" class="inputbox autowidth disabled" />
						</dd>
					</dl>
					<hr />
					<!-- ENDIF -->

					<!-- IF ABBC3_NOTE -->
					<dl>
						<dt><label>{L_ABBC3_NOTE}:</label></dt>
						<dd>
							{ABBC3_NOTE}
						</dd>
					</dl>
					<hr />
					<!-- ENDIF -->

					<dl>
						<dt><label>{L_ABBC3_LINK} {ABBC3_TAG}:</label></dt>
						<dd>
							<input type="text"   id="promptbox1" name="promptbox1" value="" class="inputbox autowidth" size="50" />
							<input type="hidden" id="errorbox1"  name="errorbox1"  value="{L_ABBC3_NOLINK}{ABBC3_TAG}"  />
						</dd>
					</dl>

					<!-- IF ABBC3_DESC -->
					<dl>
						<dt><label>{L_ABBC3_DESC} {ABBC3_TAG}:</label></dt>
						<dd>
							<input type="text"   id="promptbox2" name="promptbox2" value="" class="inputbox autowidth" size="50" />
							<input type="hidden" id="errorbox2"  name="errorbox2"  value="{L_ABBC3_NODESC}{ABBC3_TAG}"  />
						</dd>
					</dl>
					<!-- ENDIF -->

					<!-- IF S_ABBC3_ALIGN -->
					<dl>
						<dt><label>{L_ABBC3_ALIGN_MODE}:</label></dt>
						<dd>
							{S_ABBC3_ALIGN}
						</dd>
					</dl>
					<!-- ENDIF -->

					<!-- IF ABBC3_W_H -->
					<dl>
						<dt><label>{L_ABBC3_WIDTH}:</label></dt>
						<dd>
							<input type="text"   id="promptbox3" name="promptbox3" value="{ABBC3_WIDTH}" class="inputbox autowidth" size="4"  />
							<input type="hidden" id="errorbox3"  name="errorbox3"  value="{L_ABBC3_NOWIDTH}{ABBC3_TAG}" />
						</dd>
					</dl>
					<dl>
						<dt><label>{L_ABBC3_HEIGHT}:</label></dt>
						<dd>
							<input type="text"   id="promptbox4" name="promptbox4" value="{ABBC3_HEIGHT}" class="inputbox autowidth" size="4"  />
							<input type="hidden" id="errorbox4"  name="errorbox3"  value="{ABBC3_NOHEIGHT}{ABBC3_TAG}"  />
						</dd>
					</dl>
					<!-- ENDIF -->
				</fieldset>
			</div>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>

	<div class="panel bg2">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<div class="content">
			<fieldset class="submit-buttons">
			<!-- IF TEXT_NAME eq 'signature' --><input type="button" name="{L_ABBC3_SUBMIT_SIG}" value="{L_ABBC3_SUBMIT_SIG}" class="button1" onclick="win_accept('{ABBC3_OPEN}')" /> &nbsp; <!-- ELSE --><input type="button" name="{L_ABBC3_SUBMIT}" value="{L_ABBC3_SUBMIT}" class="button1" onclick="win_accept('{ABBC3_OPEN}')" /> &nbsp; <!-- ENDIF -->
				<input type="button" name="{L_CANCEL}" value="{L_CANCEL}" class="button2" onclick="win_close(false);" />
			</fieldset>
			</div>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>

	<!-- ENDIF -->

</form>
<br />
<!-- ENDIF -->

<!-- IF S_ABBC3_IN_WIZARD and S_ABBC3_WIZARD_MODE eq '1' -->
</div>
</div>

<div id="page-footer">
	<div class="copyright">{L_ABBC3_HELP_ABOUT}</div>
</div>
<!-- MOD : MSSTI ABBC3 wizards (v{S_ABBC3_VERSION}) - END //-->
</body>
</html>
<!-- ENDIF -->